body {
    background-color: #1F2937;
    font-family: 'Times New Roman', Times, serif;
    
}


.header-list {
    display: flex;
    color:white;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2rem; 
    justify-content: flex-end;
    flex-wrap: wrap; 
    margin-right: 15vw;
}

h2 {
    margin-top: -25px;
    color: aliceblue;
    margin-left: 15vw;
}

#header-text {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width:400px;
    display: inline-block;
    margin-left: 15vw;
    margin-bottom: 0px;
}

#header-subtext {
    color: #e5e7eb;
    font-size: 18px; 
    width: 420px;
    margin-left: 15vw;



}